.container {
  .row {
    .col {
      @media screen and (max-width: 412px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }
      h1 {
        @extend %h1;
        @media screen and (max-width: 320px) {
          text-align: left;
        }
      }
      .imagenHablemos {
        border-radius: 1%;
        width: 500px;
        height: 600px;
        @media screen and (max-width: 450px) {
          width: 400px;
          height: 500px;
        }
        @media screen and (max-width: 320px) {
          width: 300px;
          height: 200px;
        }
      }
    }
  }
  .contenedorFormulario {
    @media screen and (max-width: 450px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      @media screen and (max-width: 450px) {
        margin-right: 500px;
      }
    }
    p {
      @include parrafo($size: 20px, $color: #0c0d0d);
      margin-top: 100px;
      padding: 10px;
      @media screen and (max-width: 450px) {
        width: 100%;
        margin-top: 100px;
      }
    }
    .form {
      margin-bottom: 20px;
      width: 500px;
      height: 550px;
      background-color: rgba(246, 247, 250, 0.641);
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 20px;
      margin-left: 20px;
      @media screen and (max-width: 450px) {
        width: 380px;
        margin-top: 100px;
      }
      div {
        width: 90%;

        label {
          color: rgb(14, 12, 8);
          font-family: map-get($caligrafia, caligrafia-generica);
          font-size: 20px;
        }
        input {
          background: linear-gradient(rgb(203, 214, 228), rgb(216, 220, 220));
          &:hover {
            opacity: 50%;
          }
        }
      }
      div {
        .label {
          color: antiquewhite;
          font-family: map-get($caligrafia, caligrafia-generica);
        }
        .inputAsunto {
          background-color: rgb(197, 206, 216);
          height: 140px;
          &:hover {
            opacity: 50%;
          }
        }
      }
      .aware {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .aware {
          color: rgb(14, 12, 8);
          letter-spacing: map-get($spacing, smal);
        }
      }
    }
  }
}
