.container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;

  .col {
    h1 {
      @extend %h1;
    }
    .parrafoEquipo {
      @include parrafo($size: 20px, $color: #0c0d0d);
      background-color: rgba(246, 247, 250, 0.226);
      height: 200px;
      width: 600px;
    }
  }
  .col {
    .imgEquipo {
      height: 400px;
      width: 600px;
    }
  }
}
