main {
  .container {
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    .row {
      .col {
        h1 {
          @extend %h1;
        }
        .parrafoEquipo {
          @include parrafo($size: 20px, $color: #0c0d0d);
          height: 200px;
          width: 600px;
          text-align: justify;
          padding: 10px;
          @media screen and (max-width: 450px) {
            width: 370px;
            height: 300px;
          }
        }
      }
    }
    .col {
      .imgEquipo {
        height: 400px;
        width: 600px;
        border-radius: 1%;
        @media screen and (max-width: 450px) {
          width: 320px;
          height: 350px;
          margin-top: 200px;
          margin-left: 20px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .contenedorGaleria {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .row2 {
      margin-top: 100px;
      @media screen and (max-width: 450px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .col {
        .imgJimmy {
          @extend %imgGaleria;
          @media screen and (max-width: 450px) {
            width: 350px;
            margin-left: 20px;
          }
        }
        .parrafoimgJimmy {
          font-family: map-get($caligrafia, caligrafia-generica);
          color: map-get($color, negro);
          font-weight: bold;
        }
      }
      .col {
        .imgkim {
          @extend %imgGaleria;
          @media screen and (max-width: 450px) {
            width: 350px;
            margin-left: 20px;
          }
        }
        .parrafoImgKim {
          font-family: map-get($caligrafia, caligrafia-generica);
          color: map-get($color, negro);
          font-weight: bold;
        }
      }
      .col {
        .imgDenny {
          @extend %imgGaleria;
          @media screen and (max-width: 450px) {
            width: 350px;
            margin-left: 20px;
          }
        }
        .parrafoImgDenny {
          font-family: map-get($caligrafia, caligrafia-generica);
          color: map-get($color, negro);
          font-weight: bold;
        }
        .imgAlicia {
          @extend %imgGaleria;
          @media screen and (max-width: 450px) {
            width: 350px;
            margin-left: 20px;
          }
        }
        .parrafoImgAlicia {
          font-family: map-get($caligrafia, caligrafia-generica);
          color: map-get($color, negro);
          font-weight: bold;
        }
      }
    }
  }
}
