.header {
  background-color: map-get($color, azul);
  padding: var(--padding);
  height: 170px;
  margin-bottom: 100px;

  .header__logoEstudio {
    border-radius: 15px;
    width: 200px;
    height: auto;
  }
}
