body {
  background-color: rgba(200, 208, 208, 0.577);
}

$color: (
  blanco: #f0f6f6,
  celeste: #93bbbf,
  naranja: #f5a119,
  grisclaro: #899b9f,
  grismasclaro: #f2f2f2,
  negro: #0c0d0d,
  azul: #0c627e,
);

$spacing: (
  large: 6rem,
  medium: 2.5rem,
  smal: 0.2rem,
);

$caligrafia: (
  caligrafia-generica: sans-serif,
  caligrafia-titulos: "Cinzel",
);
