.header {
  grid-area: header;
  background-color: #053849;
  padding: var(--padding);
  height: 150px;
  .header__logoEstudio {
    border-radius: 15px;
    width: 200px;
    height: auto;
    border: black solid 1px;
  }
}
