/*color*/

$color: (
  blanco: #f0f6f6,
  crema: #f2f2f2,
  celeste: #93bbbf,
  naranja: #c58309,
  grisclaro: #899b9f,
  grismasclaro: #f2f2f2,
  grisoscuro: #374342,
  negro: #0c0d0d,
  azul: #0c627e,
);

$padding: (
  padding: 59px,
  padding: 60px,
);

$spacing: (
  large: 6rem,
  medium: 2.4rem,
  smal: 2rem,
);

$font-sized: (
  text-large: 3.5em,
  text-medium: 2.2em,
  text-base: 1.6em,
  text-small: 1.4em,
);
