
  
  :root {
    /*Font_family*/
    --caligrafia-title: "Dosis", sans-serif;
    --caligrafia-parrafos: "Dosis", sans-serif;
  
    /*color*/
    --blanco: #f0f6f6;
    --crema: #f2f2f2;
    --celeste: #93bbbf;
    --naranja: #c58309;
    --grisclaro: #899b9f;
    --grismasclaro: #f2f2f2;
    --grisoscuro: #374342;
    --negro: #0c0d0d;
  
    /*pading*/
    --padding: 50px;
    --padding2: 60px;
  
    /*font-size*/
    --text-large: 3.5em;
    --text-medium: 2.2em;
    --text-base: 1.6em;
    --text-small: 1.4em;
  
    /*spacing*/
    --spacing-large: 6rem;
    --spacing-medium: 2.4rem;
    --spaciong-smal: 2rem;